/**  Basic Page CSS **/
body {
  font-weight: 200;
  background-color: #27be27ad;
}

header a,
footer a {
  color: rgb(0, 4, 255);
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: #27be27ad !important;
  border: inherit;
}